h2 {
    margin: 1%;
}

#insert-container {
    background-color: white;
    border-radius: 40px;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.insert-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nome valor posicao submit"
        "pais status clube submit";
}

.insert-spaces {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 172, 79);
    margin-left: 5px;
    width: 80%
}
.insert-label {
    margin-right: 100%;
}

.nome {
    grid-area: nome;
}

.pais {
    grid-area: pais;
}

.valor {
    grid-area: valor;
}

.status {
    grid-area: status;
}

.posicao {
    grid-area: posicao;
}

.clube {
    grid-area: clube;
}

.submit {
    justify-self: center;
    align-self: center;
    grid-area: submit;
    height: 4.5vh;
    width: 60%;
    border-radius: 50px;
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Media Queries para telas até 768px */
@media (max-width: 768px) {
    #insert-container {
        width: 70%;
    }

    .insert-form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nome valor"
            "posicao status"
            "pais clube"
            "submit submit";
    }

    .insert-spaces {
        width: 70%;
    }
}

/* Media Queries para telas até 576px */
@media (max-width: 576px) {
    #insert-container {
        width: 90%;
    }

    .insert-form {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nome"
            "valor"
            "posicao"
            "status"
            "pais"
            "clube"
            "submit";
    }

    .insert-spaces {
        width: 90%;
    }
}
