#list-container {
    width: 50%;
    margin: 20px auto;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title > h5 {
    margin-left: 20px;  
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.ativo {
    color: green;
    font-weight: bold;
}

.inativo {
    color: red;
    font-weight: bold;
}

.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.btn-danger {
    background-color: green;
}

.btn-danger:hover {
    background-color: green;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination a, .pagination span {
    text-decoration: none;
    padding: 8px 16px;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span {
    background-color: #eee;
    cursor: default;
}

/* Responsividade para telas até 768px */
@media (max-width: 768px) {
    #list-container {
        width: 90%;
        padding: 10px;
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination a, .pagination span {
        padding: 6px 12px;
        font-size: 12px;
    }
}

/* Responsividade para telas até 576px */
@media (max-width: 576px) {
    #list-container {
        width: 100%;
        padding: 5px;
    }

    th, td {
        padding: 8px;
        font-size: 12px;
    }

    .btn {
        padding: 4px 8px;
        font-size: 10px;
    }

    .pagination a, .pagination span {
        padding: 4px 8px;
        font-size: 10px;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    table {
        width: 100%;
    }
}
